*.iml
*.jpg
*.jpg
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
Jupyter_notebooks/.ipynb_checkpoints/
/logs
*.ckpt*
Server/test.py
trained_models/checkpoint*
__pycache__
